{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MTube Premium</title>
        <link rel="stylesheet" href={% static 'css/style.css' %}>
        <link rel="stylesheet" href={% static 'css/popup.css' %}>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="title">MTube Premium</div>
                <form class="search" action="/youtube/results/" method="GET">
                    <input type="text" placeholder="Search..."/ name="search_key">
                    <button>Search</button>
                </form>
                <div class="login">
                    {% if user.is_authenticated %}
                        <button class="button_login" id="logout" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
                        <span class="user_name">{{ user.username }}님<br><a href="{% url 'youtube:profile_delete' %}">회원탈퇴</a></span>
                    {% else %}
                        <button class="button_login" id="login" onclick="location.href='{% url 'login' %}'">로그인</button>
                        <span class="user_name">손님</span>
                    {% endif %}
                </div>
            </div>
            <div class="left">
                {% if user.is_authenticated %}
                    <button class="button1" onclick="requestHistoryList()">시청 기록</button>
                    <br>
                    {% for list in play_list %}
                        <button class="button2" type="button" onclick="selectPlaylist('{{ list.id }}')">{{ list.list_name }}</button>
                        <button class="button3" type="button" onclick="insertVideoToPlaylist('{{ list.id }}')"><span class="material-icons">playlist_add</span></button>
                    {% endfor %}
                    {% if play_list.count < 8 %}
                        <button class="button4" type="button" onClick="insertPlaylist()"> 목록 추가</button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="main">
                <div id="player"></div>
            </div>
            <div class="right">
                {% if list_type %}
                <div class="title" id="table_title">
                    {% if list_type == 'search' %}
                        <span class="name" >검색 결과</span>
                    {% elif list_type == 'history' %}
                        <span class="name" >시청 기록</span>
                    {% elif list_type == 'playlist' %}
                        <span class="name" >{{ curr_list.list_name }}</span>
                        <button class="btn_delete" onclick="deletePlaylist('{{ curr_list.id }}')"><span class="material-icons">delete</span></button>
                        <button class="btn_rename" onclick="renamePlaylist('{{ curr_list.id }}')"><span class="material-icons">edit</span></button>
                    {% endif %}
                </div>
                {% endif %}
                {% if video_list %}
                <table class="table" id = "table">
                    {% for video in video_list %}
                    <tr class="tr" id = "{{video.videoid}}" onclick = "itemClicked(this)">
                        <td><image src="{{ video.image_url }}"></td>
                        <td>{{ video.title }}</td>
                        <td><button class="btn_delete" onclick="event.cancelBubble=true; itemDelete()"><span class="material-icons">delete</span></button></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        <form name="postForm" action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="videoid">
        </form>
        <div class="playListPopup">
            <div class="formPopup" id="popupInsert">
                <form action="/youtube/playlist/insert/" class="formContainer" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="재생목록 이름" name="name" required>
                    <button type="submit" class="btn">추 가</button>
                    <button type="button" class="btn cancel" onclick="closeForm('popupInsert')">취 소</button>
                </form>
            </div>
            <div class="formPopup" id="popupRename">
                <form action="/youtube/playlist/rename/" class="formContainer" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="listid" value="{{curr_list.id}}">
                    <input type="text" placeholder="재생목록 이름" name="name" value="{{curr_list.list_name}}" required>
                    <button type="submit" class="btn">변 경</button>
                    <button type="button" class="btn cancel" onclick="closeForm('popupRename')">취 소</button>
                </form>
            </div>
            <div class="formPopup" id="popupDelete">
                <form action="/youtube/playlist/delete/" class="formContainer" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="listid" value="{{curr_list.id}}">
                    <input type="text" placeholder="재생목록 이름" name="name" value="{{curr_list.list_name}}" disabled>
                    <button type="submit" class="btn">삭 제</button>
                    <button type="button" class="btn cancel" onclick="closeForm('popupDelete')">취 소</button>
                </form>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" language="javascript" src={% static 'js/index.js' %}></script>
    </body>
</html>