{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MTube Premium</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href={% static 'css/style.css' %}>  
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="title">MTube Premium</div>
                <form class="search" action="/youtube/results" method="GET">
                    <input type="text" placeholder="Search..."/ name="search_key" value="{{ search_key }}">
                    <button>Search</button>
                </form>
                <div class="login">
                    {% if user.is_authenticated %}
                    <button class="button_login" id="logout" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
                    <span class="user_name">{{ user.username }}님</span>
                    <a href="{% url 'youtube:profile_delete' %}">회원탈퇴</a>
                    {% else %}
                    <button class="button_login" id="login" onclick="location.href='{% url 'login' %}'">로그인</button>
                    <span class="user_name">손님</span>
                    {% endif %}
                </div>
            </div>
            <div class="left">
                {% if user.is_authenticated %}
                {% for list in list_list %}
                <form id = "{{ list.id }}" action="/youtube/playlist" method="GET">
                    <button class="button" type="submit" > {{ list.listName }}</button>
                </form>
                {% endfor %}
                <form action="/youtube/history" method="GET">
                    <button class="button" type="submit" >시청 기록</button>
                </form>
                {% endif %}
            </div>
            <div class="main">
                <div id="player"></div>
            </div>
            <div class="bottom">
                bottom
            </div>
            <div class="right">
                {% if video_list %}
                <table class="table" id = "table">
                    {% for video in video_list %}
                    <tr id = "{{video.id}}" onclick = "itemClicked(this)">
                        <td><image src="{{ video.image_url }}" ></td>
                        <td class="text">{{ video.title }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        <script type="text/javascript" language="javascript" src={% static 'js/index.js' %}></script>
    </body>
</html>