<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>MTube Premium_manage_video</title>
    <meta charset="utf-8">
    <link rel ="stylesheet" href={% static 'css/manage.css' %}>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src={% static 'js/videoId.js' %} type="text/javascript"></script>

  </head>
  <body>
    <!--상단 바-->
      <div class="header">
        <div class="title" onclick="location.href='{% url 'index' %}'" style="cursor:pointer;">MTube Premium</div>
      </div>

    <!--메인 화면-->
      <section>
        <div class="bar_container"> <!--50개만 검색되는 이유: 유튜브 API인 playlistitems가 최대 50개까지만 제공함-->
          <input type="text" placeholder="재생목록 ID : 상위 50개 결과만 검색됩니다" id="playlist_code" class="search_bar">
          <button type="button" class="btn1" id="btn">동영상 검색</button>
        </div>
        <div class="bar_container">
          <button type="button" class="btn1" id ="btnSave">저장</button>
        </div>
        <div class="result_container">
          <table id="result" class="result_table">
          </table>
        </div>
      </section>
  </body>
</html>
