<!--
관리자만 접근 가능하게 만들기
버튼 어디에 만들것인지(그에 따라 디렉토리 이동할것)
-->

<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>MTube Premium_manage_video</title>
    <meta charset="utf-8">
    <link rel ="stylesheet" href={% static 'css/mem_style.css' %}>
        <script src="https://kit.fontawesome.com/78f8208a14.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!--상단 바-->
    <div class="header">
      <div class="title">MTube Premium</div>
      <div class="icon" onclick="location.href='{% url 'index' %}'" style="cursor:pointer;" ><i class="fas fa-home"></i></div>
    </div>

      <!--메인 화면-->
      <section class="">
          <div class="">






        </div>
      </section>
  </body>
</html>
