<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>MTube Premium_signup</title>
    <meta charset="utf-8">
    <link rel ="stylesheet" href={% static 'css/mem_style.css' %}>
  </head>

  <body>
    <!--상단 바-->
    <div class="header">
      <div class="title" onclick="location.href='{% url 'index' %}'" style="cursor:pointer;">MTube Premium</div>
    </div>


      <!--메인 화면-->
      <section class="main_container_signup">
          <div class="line_container_signup">
            <form name="join_form" method="post" class="post-form">
            {% csrf_token %}
                <div class ="form_container">
                  <div class="form_title_div">
                    <p class="form_title_p">회원 가입</p>
                  </div>

                  <!--입력 폼 항목 반복문으로 출력-->
                  {% for field in form %}
                <div id="form-group" class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
                    <label id="form_item_name" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% for error in field.errors %}
                    <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                    {% endfor %}
                <input name="{{ field.html_name }}" id="{{ field.id_for_lable }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
                  {% endfor %}
                  </div>

                <!--submit-->
                <div><button type="submit" class="btn btn-primary">가입하기</button></div>

              </div>
            </form>
            <a href="{% url 'login' %}" class="login_link">또는 로그인 페이지로 가기</a>
        </div>
      </section>
  </body>
</html>
