<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>MTube Premium_signup</title>
    <meta charset="utf-8">
    <link rel ="stylesheet" href={% static 'css/mem_style.css' %}>
  </head>

  <body>
      <!--상단 바(임시)-->
      <header>
        <div>
          <span class='title'>Mtube Premium</span>
        </div>
        <div class="status">
          <span>Join Us Page</span>
        </div>
      </header>
      <!--메인 화면-->
      <section class="main_container_signup">
          <div class="line_container_signup">
            <form name="join_form" method="post" class="post-form">
            {% csrf_token %}
            {% include "form_errors.html" %}
                <div class ="form_container">
                  <div class="form_title_div">
                    <p class="form_title_p">회원 가입</p>
                  </div>

                <!--id입력-->
                    <div class="form-group">
                    <label for="username" id="form_item_name">사용자ID</label>
                      <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}" maxlength=16 placeholder="사용할 ID를 입력하세요">
                    </div>
                <!--비밀번호 입력-->
                    <div class="form-group">
                    <label for="username" id="form_item_name">비밀번호</label>
                        <input type="password" class="form-control" name="password1" id="password1"
                     value="{{ form.password1.value|default_if_none:'' }}" maxlength=16 placeholder="비밀번호를 입력하세요">
                    </div>
                <!--비밀번호 확인-->
                    <div class="form-group">
                    <label for="username" id="form_item_name">비밀번호 확인</label>
                      <input type="password" class="form-control" name="password2" id="password2"
                      value="{{ form.password2.value|default_if_none:'' }}" maxlength=16 placeholder="비밀번호를 입력하세요">
                    </div>
                <!--이메일-->
                    <div class="form-group">
                    <label for="username" id="form_item_name">E-mail</label>
                        <input type="text" class="form-control" name="email" id="email"
                        value="{{ form.email.value|default_if_none:'' }}" maxlength=30 placeholder="이메일을 입력하세요">
                    </div>

                <!--submit-->
                    <div style="height: 10px;"></div>
                      <div><button type="submit" class="btn btn-primary">가입하기</button></div>

              </div>
            </form>
            <a href="{% url 'login' %}" class="login_link">또는 로그인 페이지로 가기</a>
        </div>
      </section>
  </body>
</html>
