{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <title>MTube Premium_login</title>
    <meta charset="utf-8">
    <link rel ="stylesheet" href={% static 'css/mem_style.css' %} />
  </head>

  <body>
    <!--상단 바(임시)-->
    <header>
      <div>
        <span class="title">Mtube Premium</span>
      </div>
      <div class="status">
        <span>Log in Page</span>
      </div>
    </header>

      <!--메인화면-->
      <section class="main_container">
        <div class ="line_container">
          <form method="post" class="post-form" action="{% url 'login'%}">

              {% csrf_token %}
              {% include "form_errors.html" %}
              <div class ="form_container">
                <div class="form_title_div">
                  <p class="form_title_p">로그인 정보</p>
                </div>
                <!--아이디입력창-->
                <div class="form-group">
                    <label for="username" id="form_item_name">사용자ID</label>
                    <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}" maxlength=16 placeholder="ID를 입력하세요">
                </div>
                <!--비밀번호 입력창-->
                <div class="form-group">
                    <label for="password" id="form_item_name">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password"
                           value="{{ form.password.value|default_if_none:'' }}" maxlength=16 placeholder="비밀번호를 입력하세요">
                </div>
                <!--로그인 제출 버튼-->
                <div style="padding-top: 20px;" >
                <button type="submit" class="btn btn-primary" >로그인</button>
                </div>
              </div>
          </form>
        <!--회원가입 링크-->
        <a href="{% url 'youtube:signup' %}" class="join_link">또는 회원으로 가입하기</a>
      </div>
      </section>
  </body>
</html>
