/*210205 로그인페이지 추가*/
/*전체 설정*/
:root{
    /* color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    font-family: ‘Sans-serif’;
    margin: 0;
    background : #f4f4f4;
    color : #666;
}


/* header */
.header {
    grid-area:header;
    padding: 10px;
    display:grid;
    grid-template-columns: 250px 1fr 300px;
    border-bottom: 1px solid gray;
    background-color: var(--blue-color);
    grid-template-areas:
    ".title .search .login"
}
.header .title
{
    line-height: 50px;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    letter-spacing: -1px;
}

/*메인창*/

.result_table {
  background-color: var(--white-color);
  width: 94%;
  height: 500px;
  margin: 20px;
  border: 1px;
  border-radius: 3px;
}

.bar_container {
    color: var(--black-color);
    margin-top: 15px;
    margin-left: 24px;
    border: none;
    outline: none;
    border: 1px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
}

.btn1 {
  border: 1px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  display: inline;
  width: 20%;
  height: 35px;
  background-color:var(--grey-dark-color);
  border: 1px;
  border-radius: 3px;
  color: var(--white-color);

}

.search_bar {
  border: 1px;
  border-radius: 3px;
  width: 75% ;
  height: 35px;
}

.title_bar {
  border: 1px;
  border-radius: 3px;
  width: 45%;
  height: 35px;
}

.videoId_bar {
  border: 1px;
  border-radius: 3px;
  width: 29.5%;
  height: 35px;
}

#copy {
  color: var(--gray-light-color);
}
