/*210205 로그인페이지 추가*/
/*전체 설정*/
:root{
    /* color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --grey-dark-color: #909090;
}

*{
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;

    margin: 15px;
    width: 94%;
    height: 44px;
    background-color:var(--grey-dark-color);
    border: 1px;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 500;
}

/* header */
.header {
    grid-area:header;
    padding: 10px;
    display:grid;
    grid-template-columns: 250px 1fr 300px;
    border-bottom: 1px solid gray;
    background-color:black;
    grid-template-areas:
    ".title .search .login"
}
.header .title
{
    line-height: 50px;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    letter-spacing: -1px;
}

/*로그인 메인창*/
.main_container{
    width: 100vw;
    height: 100vh;
    background-color: var(--black-color);
    padding-top: 150px;
}

.line_container {
    color: var(--blue-color);
    width: 440px;
    height: 400px;
    margin: auto;
    border: 3px solid var(--white-color);
}

.form_container{
    width: 300px;
    margin: auto;
}

.form_title_div{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--black-color);
}

.form_title_p{
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    padding-top: 8px;
    color: var(--white-color);
}

.info {
  font-size: 12px;
  color: var(--blue-color);
  margin: 9px;
}

#form_item_name{
    padding: 10px;
    color: var(--grey-dark-color);
}

.form-control {
    margin: 15px;
    width: 94%;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    border-color:var(--grey-dark-color);
}

.join_link {
  cursor: pointer;
  text-align: left;
  color: var(--grey-dark-color);
  margin-left:50%;
  text-decoration: none;
}

/*회원가입 창 따로*/
.main_container_signup{
    width: 100vw;
    height: 100vh;
    background-color: var(--black-color);
    padding-top: 75px;
}

.line_container_signup{
    color: var(--blue-color);
    width: 400px;
    height: 540px;
    margin: auto;
    border: 3px solid var(--white-color);
}

.login_link {
  cursor: pointer;
  text-align: left;
  color: var(--grey-dark-color);
  margin-left:35%;
  text-decoration: none;
}

.control-label {
  color: var(--blue-color);
  font-size: 10px;
}
