
  .playListPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 326px;
    top: 64px;
    border: 1px solid white;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    color: white;
    background-color: #111;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #f33;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }