html, body {
  margin: 0;
  height: 100%;

}
.panel-top {
  min-height: 50px;
  background-color: black;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.form-inline .button {
  width: 150px;
  height: 30px;
}

.panel-container {
  background-color: black;
  height: calc(100% - 95px);
  display: flex;
  flex-direction: row;
}
.panel-left {
  width: 200px;
  background-color: black;
  border-right: 1px solid gray;
}
.panel-center {
    width: 100%;
    height: 100%;
}
.panel-right {
  width: 320px;
  background-color: black;
  overflow: auto;
}

.panel-left .button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  margin: 5px;

}

.panel-left .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.panel-left .button:hover {
  background-color: #2f2f2f;
}

.panel-left .button:focus {
  background-color: blue;
  outline:none!important;
}

.panel-top .button {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: white;
  outline:none!important;
}

.panel-top .button:active {
  border: none;
  background-color: #e2e2e2;
  outline:none!important;
}


input {
  align: center;
  border:0;
  outline:0;
  width: 100%;
  height: 100%;
  font-size: 21px;
  padding: 11px;
  border-radius: 3px;
}
input:focus {
  outline:none!important;
}


img {
  width: 100px;
  height: 80px;
}

table {
  width: 100%;
  border: 0px;

}
td {
  color: white;
  font-size: 14px;
  padding: 2px;
}
