* {
    margin:0px;
    padding:0px;
}

body {
    background-color: black;
}
.container {
    display:grid;
    grid-template-columns: 170px 1fr 240px;
    grid-template-rows: 74px 1fr;
    grid-gap: 10px;
    height: calc(100% - 10px);
    margin: 5px;
    grid-template-areas:
        "header header header"
        "left main right"
}

/* header */
.header {
    grid-area:header;
    padding: 10px;
    display:grid;
    grid-template-columns: 250px 1fr 300px;
    border-bottom: 1px solid gray;
    background-color:black;
    grid-template-areas:
    ".title .search .login"
}
.header .title {
    line-height: 50px;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    letter-spacing: -1px;
}

.header .search{
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.header .search input {
    outline: none;
    width: calc(100% - 60px);
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 10px;
    float: left;
}
.header .search input:focus {
    outline:none!important;
}
.header button {
    height: 50px;
    line-height: 50px;
    margin: none;
    background-color: #333; /* Green */
    border: none;
    color: white;
    text-align: center;
    box-shadow: none;
    font-size: 14px;
    cursor: pointer;
    display: block;
}
.header button:hover {
    background-color: rgb(85, 85, 85);
}
.header button:focus {
    background-color: rgb(85, 85, 168);
    outline:none!important;
}
.header .login {
    width: 300px;
    height: 100%;
}

.login .user_name {
    line-height: 25px;
    vertical-align: center;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    float: right;
    text-align: right;
}
.login a:visited {
    color: blue;
}
.header .search > button {
    width: 60px;
    float: left;
}
.login .button_login {
    width: 60px;
    border-radius: 10px;
    float: right;
}
/*
.header .search > button {
    width: 100px; 
    height: 50px;
    margin-left: 0px;
    float: left;
}


.login .button_login {
    width: 100px; 
    height: 100%;
    float: right;
}
*/

.left {
    grid-area:left;
    background-color:black;
}
.left button {
    height: 50px;
    line-height: 50px;
    margin: none;
    margin-bottom: 8px;
    background-color: #333; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    font-size: 14px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}
.left button:hover {
    background-color: rgb(85, 85, 85);
}
.left button:focus {
    background-color: rgb(85, 85, 168);
    outline:none!important;
}
.left .button1 {
    width: 100%;
}
.left .button2 {
    width: 82%;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.left .button3 {
    width: 18%;
    float: left;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.left .button4 {
    width: 100%;
    background-color: black; /* Green */
    border: 1px dashed white;
}

.main {
    grid-area:main;
    background-color: black;
}
.right {
    grid-area:right;
    vertical-align: center;
    background-color: black;
}
.right .title {
    width: 100%;
    height: 50px;
    margin-bottom: 2px;
    line-height: 50px;
    border: none;
    background-color: #333;
}
.right .title .name {
    color: white;
    text-align: right;
    margin-left : 10px;
}
.right .title button {
    width: 30px;
    height: 40px;
    border: none;
    outline: none;
    float: right;
    margin-top: 5px;
    margin-right: 3px;
    background-color: inherit;
}
.right .title button:hover {
    background-color: rgb(85, 85, 85);
}
.right .title button:focus {
    background-color: rgb(85, 85, 168);
}
.right .title .btn_rename .material-icons {
    font-size:30px;
    color: white;
}
.right .title .btn_delete .material-icons {
    font-size:30px;
    color: red;
}

.right .table {
    width: 100%;
    height: 60px;
    background-color: black;
    cursor: pointer;
    border-collapse: collapse;
}
.right .table tr:hover {
    background-color: rgb(85, 85, 85);
}
.right .table img {
    width: 100px;
    height: 80px;
    background-color: inherit;
}
.right .table td {
    color: white;
    font-size: 14px;
    padding: 2px;
    background-color: inherit;
    line-height: 180%;
}
.right .table .btn_delete {
    width: 30px;
    height: 100%;
    border: none;
    outline: none;
    float: right;
    background-color: inherit;
}
.right .table .btn_delete .material-icons {
    font-size:30px;
    color: red;
}

.selected {
    color: yellow;
    background-color: blue;
}

@media all and (max-width:575px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 1fr 60px 60px;
        grid-template-areas: 
            "header" 
            "left"
            "main"
            "bottom"
            "right";
    }
}


